
.divClass h1{
    color: red;
    font-size: 50px;

}

.divClass h3{
    color:aliceblue;
    font-size: 40px;
}

.divClass h4{
    color: aliceblue;
    font-size: 40px;
}
.h1{
    color: green;
}

.divClass a{
    font-size: 25px;
}

#thirdDiv{
    width: 500px;
    height: 600px;
    background: rgb(255, 0, 0);
    padding: 50px;
    border: 6px solid orange;
    
}

img{
    width: 400px;

}

#spanId{
    font-size: 25px;
    margin: 50px;

}

body{
    background: url(img/fondo16.jpg) no-repeat;
    background-size: cover;
}

    